@media (max-width: 320px) {
  .box {
    position: relative;
    left: 0rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
  }
  .items {
    position: relative;
  }
  .item {
    border: 2px rgb(205, 187, 50) solid;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    width: 90%;
    height: 95%;
  }
  .item p {
    color: black;
    font-weight: 700;
    position: relative;
    align-items: center;
  }
  .item :hover {
    transform: translateY(-0.5rem);
    transition: 3s ease-in-out;
    box-shadow: 4px 8px 6px black;
  }
  .item-prices {
    display: flex;
    flex-direction: column;
  }
  .item-price-new {
    color: red;
    font-weight: 800;
  }
  .item-price-old {
    color: grey;
    text-decoration: line-through;
  }
  .item img {
    height: 125px;
  }
  .order {
    color: white;
    align-items: center;
    justify-content: center;
    background: limegreen;
    position: relative;
  }
}
@media (min-width: 360px) {
  .box {
    position: relative;
    left: 0rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
  }
  .items {
    position: relative;
  }
  .item {
    border: 2px rgb(205, 187, 50) solid;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    width: 90%;
    height: 95%;
  }
  .item p {
    color: black;
    font-weight: 700;
    position: relative;
    align-items: center;
  }
  .item :hover {
    transform: translateY(-0.5rem);
    transition: 3s ease-in-out;
    box-shadow: 4px 8px 6px black;
  }
  .item-prices {
    display: flex;
    flex-direction: column;
  }
  .item-price-new {
    color: red;
    font-weight: 800;
  }
  .item-price-old {
    color: grey;
    text-decoration: line-through;
  }
  .item img {
    height: 125px;
  }
  .order {
    color: white;
    align-items: center;
    justify-content: center;
    background: limegreen;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .box {
    display: flex;
    flex-wrap: wrap;
  }
  .items {
    position: relative;
  }
  .item {
    padding: 4px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px rgb(205, 187, 50) solid;
  }
  .items :hover {
    transform: translateY(-0.5rem);
    transition: 1s ease-in-out;
    box-shadow: 2px 2px 6px black;
  }
  .item-price-new {
    color: red;
    font-weight: 800;
  }
  .item-price-old {
    color: grey;
    text-decoration: line-through;
  }
  .item img {
    height: 200px;
    width: 200px;
  }
  .order {
    color: white;
    align-items: center;
    justify-content: center;
    background: limegreen;
    position: relative;
  }
}
