* {
  margin: 0;
}
.popular {
  width: 100%;
  position: absolute;
  gap: 0 2rem;
  left: 15rem;
  top: 12rem;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.popular h2 {
  color: var(--primary-color);
  font-weight: 600;
}

@media (max-width: 320px) {
  .popular {
    position: absolute;
    top: 8rem;
    justify-content: center;
    display: flex;
  }
  .container {
    position: relative;
  }
}
@media (min-width: 375px) {
  .container {
    width: 20%;
  }
}
