@media (max-width: 320px) {
  .shop-container .hot {
    position: relative;
    left: 0;
    font-size: 20px;
  }
  .Shop-box {
    position: absolute;
    left: 0rem;
    top: 58rem;
    align-items: center;
    justify-content: center;
  }
  .items-box {
    position: relative;
    left: 0rem;
    display: grid;
    gap: 1rem 0rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .on-sale-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .on-sale-products img {
    width: 200px;
  }
}
@media (min-width: 360px) {
  .Shop-box {
    position: absolute;
    left: 0rem;
  }
  .items-box {
    position: relative;
    left: 0rem;
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .on-sale-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .Shop-box {
    position: relative;
    left: 10rem;
  }
  .items-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 3rem;
  }
}
